.picture-discussion {
    display: flex;
}

.picture-container {
    display: flex;
    flex-direction: column;
    width: 50vw;

    img {
        object-fit: cover;
    }

    .picture-heading {
        display: flex;
        align-items: flex-end;

        .picture-artist-name {
            opacity: 0.5;
            padding: 4px 10px;
        }
    }
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 45vw;
    margin-left: 10px;
    border: 1px solid grey;
    border-radius: 10px;

    .chat-header {
        background-color: lightblue;
        color: white;
        font-size: 20px;
        font-weight: bold;
        padding: 10px;
        text-align: center;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .chat-messages {
        flex: 1;
        overflow-y: auto;
        padding: 10px;
    }

    .message {
        margin-bottom: 10px;

        strong {
            font-weight: bold;
        }
    }

    .chat-input {
        background-color: #f2f2f2;
        padding: 10px;
        display: flex;

        input {
            flex: 1;
            padding: 8px;
            border: none;
            border-radius: 5px;
            margin-right: 5px;
        }
    }
}