<ng-container *ngIf="!selectedPicture">
    <mat-form-field appearance="outline" class="search-input">
        <mat-icon matPrefix>search</mat-icon>
        <input matInput placeholder="Search" (input)="search($event)" />
    </mat-form-field>

    <!-- gallery.component.html -->
    <div class="cards-container">
        <ng-container *ngFor="let picture of filteredPictures">
            <mat-card class="example-card" (click)="selectPicture(picture)">
                <img mat-card-image [src]="picture.imageURL" alt="Artwork">
                <mat-card-content>
                    <h3>{{ picture.title }}</h3>
                    <p class="card-artist-name">by {{ picture.artistName }}</p>
                    <p>{{ picture.description }}</p>
                </mat-card-content>
            </mat-card>
        </ng-container>
    </div>
</ng-container>
<ng-container *ngIf="selectedPicture">
    <button mat-raised-button class="" (click)="selectedPicture = undefined">X close</button>
    <app-picture [selectedPicture]="selectedPicture" />
</ng-container>